@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  box-sizing: border-box;
  padding: 0;
  margin:0;
  border:0;
}

#app {
  min-width: 400px;
  
  margin: 0;
  border: 0;
  padding: 2rem;
  background-color: rgb(233, 227, 216);
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  --c1 : rgb(25, 66, 36);
  --c2 : rgb(225, 163, 163);
  font-family: "Lexend";
  font-weight: 100;
  
}
.aRight {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: end;
}
.aSelfTop {
  align-self: flex-start;
}
.gS {
  gap:0.25rem;
}
.gM {
  gap:0.5rem;
}
.inputFieldDiv {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.inputFieldDiv :nth-child(2) {
  width: fit-content;
  background-color: transparent;
  border-radius: 1rem;
  border: 0.3rem solid rgba(0, 0, 0, 0.093);
  outline: 0;
  font-family: "Lexend";
  padding:0.5rem;
  margin:0;
  height:fit-content;
  text-overflow: ellipsis;
  max-width: 300px;
  color:var(--c1);
  caret-shape: block; caret-color: var(--c1);
}
.inputFieldfileHolder :nth-child(2) {
 border:none;
 max-width: 300px;
 height:fit-content;
 font-size: 1rem;
 text-overflow: ellipsis;
}
.inputFieldDiv :nth-child(2)::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
input[type='file'] {
  color: rgba(0, 0, 0, 0);

}
.subheading {
  margin-top: 4rem; font-size: 2.25rem;
}
h1{
  font-weight: 400;
  font-size: 2.5rem;
  margin:0;
}

h2{
  margin:0;
  font-weight: 300;
}
h3{
  margin:0;
  font-weight: 300;
}
.privacyToggle {
  background-color: #c2b9a9;
  border: 0.22rem solid rgba(0,0,0,0.1);
  border-radius: 0.5rem;
  width: fit-content;
 
}

.starBtn{
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: rgb(241, 235, 225);
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.245);
  background-color: rgb(194, 185, 169);
  width: fit-content;
  padding-right: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0.22rem solid rgba(0,0,0,0.1);
}
.starBtnL{
  text-shadow: none;
  text-decoration: none;
  height: 100%;
  color: rgb(10, 10, 10);
  border-radius: 0.4rem;
  padding: 0.4rem 0rem 0.4rem 0.4rem;
  margin-right: 1rem;
  background-color: rgb(219, 209, 192);
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.headerDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}