@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  box-sizing: border-box;
  padding: 0;
  margin:0;
  border:0;
}

#app {
  min-width: 400px;
  
  margin: 0;
  border: 0;
  padding: 2rem;
  background-color: rgb(233, 227, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  --c1 : rgb(25, 66, 36);
  font-family: "Lexend";
  font-weight: 100;
  color: var(--c1);
}
.inputFieldDiv {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.inputFieldDiv :nth-child(2) {
  width: fit-content;
  background-color: transparent;
  border-radius: 1rem;
  border: 0.3rem solid rgba(0, 0, 0, 0.093);
  outline: 0;
  font-family: "Lexend";
  padding:0.5rem;
  margin:0;
  height:fit-content;
  text-overflow: ellipsis;
  max-width: 300px;
  color:var(--c1);
  caret-shape: block; caret-color: var(--c1);
}
.inputFieldDiv :nth-child(2)::placeholder {
  color: rgba(0, 0, 0, 0.15);
}
h1{
  font-weight: 400;
  margin:0;
}

h2{
  margin:0;
  font-weight: 300;
}
h3{
  margin:0;
  font-weight: 300;
}